*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%
}

html{
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 100px;
    width: 100%;
    background-color: #3161e0;
    line-height: 100px;
    text-align: center;
}

nav .contenitore-nav{
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
}


nav .contenitore-nav .logo{
    height: 100px;
    width: 150px;
    float: left;
}

nav .contenitore-nav .logo .logo-img{
    vertical-align: middle;
}


nav .contenitore-nav .lista-nav{
    display: inline-block;
    text-align: center;
    list-style: none;
}

nav .contenitore-nav .lista-nav .elem-lista{
    margin-right: 40px;
    display: inline-block;
}

nav .contenitore-nav .lista-nav .elem-lista .link-lista{
    text-decoration: none;
    color: white;
}

nav .contenitore-nav .lista-nav .elem-lista .link-lista:hover{
    text-decoration: underline;
}

.btn-acc{
    position: absolute;
    right: 0;
    top: 55px;
    width: 75px;
    height: 40px;
    line-height: 40px;
    transform: translateY(-25px);
    vertical-align: bottom;
}

nav .contenitore-nav .accesso-button{
    color: black;
    background-color: white;
    float: right;
    text-decoration: none;
    width: 75px;
    border-radius: 25px;
    vertical-align: middle;
    height: 40px;
}

nav .contenitore-nav .accesso-button:hover{
    filter: brightness(0.8);
}

.parte1 .section1{
    width: 100%;
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
   
}

.parte1 .section1 .intro-discord{
    width: 52%;
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.parte1 .section1 .intro-discord h1{
    font-size: 60px;
}

.parte1 .section1 .intro-discord p{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.tasto{
    display: inline-block;
    text-decoration: none;
    font-size: 21px;
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px 25px 25px 25px;
}

.tasto:hover{
    filter: brightness(0.8);
}

.scarica{
    color: black;
    background-color: white;
    width: 220px;
}

i{
    margin-right: 10px;
}


.parte1 .section1 .intro-discord .apri-browser{
    color: white;
    background-color: black;
    width: 320px;
}

.parte2{
    display: table;
    content: "";
    clear: both;
}


.parte2 .section2{
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    height: 600px;
    padding-left: 50px;
    padding-top: 50px;
}


.parte2 .section2 .colonna{
    display: inline-block;
    width: 30%;
}


.parte2 .section2 .scritte h2{
    font-size: 48px;
}

.parte2 .section2 .scritte p{
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
}

.parte2 .section2 .img-item1{
    float: left;
    transform: translateY(-40px);
}

.parte2 .section2 .testo1{
    float: right;
}

.sfondo-ocra{
    background-color: #d9d7d7;
}

.wave-1hkxOo2{
    position: relative;
    bottom: 60px;
}

.wave-1hkxOo{
    transform: rotate(180deg);
    fill: #d9d7d7;
}

.wave-1hkxOo3{
    transform: rotate(180deg);
}

.parte2 .section2 .img-item2{
    float: right;
    transform: translateY(-40px);
}

.parte2 .section2 .testo2{
    float: left;
}

.chiusura{
    background-color: #d9d7d7;
    height: 100vh;
    padding-bottom: 500px;
}

.img-videocall{
    width: 80%;
}

.parte2 .chiusura .section2{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

.parte2 .section2 .centrate{
    text-align: center;
    width: 90%;
}

.parte2 .section2 .img-videocall{
    width: 100%;
}

.testo-end h3{
    margin-top: 50px;
    font-size: 32px;
    font-weight: 800;
}

.blue{
    background-color: #677bc2;
    color: white;
    margin-top: 40px;
}

footer{
    background-color: black;
    height: 100vh;
}

.row{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.row .coln1{
    width: 20%;
}

.footer{
    color: #677bc2;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.5;
}

.col{
    float: left;
    height: 100px;
    width: 20%;
}

.ita{
    width: 30px;
    margin-top: 20px;
}

.span-ita{
    color: white;
    line-height: 10px;
    height: 10px;
    vertical-align: text-top;
}

.social{
    width: 100%;
}

.ul-footer{
    color: #677bc2;
    list-style: none;
    font-size: 18px;
    width: 200px;
    float: left;
    padding-top: 12px;
}

.li-footer{
    color: white;
    margin-top: 15px;
}

.link-footer{
    text-decoration: none;
    color: white;
}

.link-footer:hover{
    text-decoration: underline;
}

.linea{
    color: #677bc2;
    height: 1px;
}

svg{
    display: block;
    margin-bottom: -90px;
}











